{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe{% endblock %}

{% block body %}

    <main>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-light mb-4 custom-shadow">
                    <div class="card-body">
                    {{ form_start(requestPassForm )}}
                            {{ form_row(requestPassForm.email )}}
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-danger">Envoyer</button>
                            </div>
                        {{ form_end(requestPassForm )}}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
