{% extends 'base.html.twig' %}

{% block title %}FluffyRagdolls - Calcul du poids{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/weight-calculator.css') }}"> 
{% endblock %}

{% block body %}
    <main>
        <div id="graph">
            <h2>Graphique du poids des Ragdolls</h2>
            <img src="../../assets/img/graphique-poids.png" alt="graphique poids du Ragdoll">
            <hr>
            <div class="graphic-legend">
                <div class="male-legend">
                    <div class="box-sexe box-male"></div>
                    <p>Poids pour un mâle</p> 
                </div>
                <div class="female-legend">
                    <div class="box-sexe box-female"></div>
                    <p>Poids pour un femelle</p>
                </div>
                <br>
                <h4>À la naissance et à 3 mois</h4>
                <p>Le poids de naissance de cette race varie généralement entre 80 et 130 grammes. Le sexe des chatons influence également leur poids. À trois mois, les femelles pèsent entre 1,2 et 1,63 kg, tandis que les mâles peuvent atteindre 2,3 kg. Cependant, il est essentiel de noter qu'il n'existe pas de règle absolue en matière de croissance.</p>
                <h4>À plus d'un an et l'âge adulte</h4>
                <p>Ce félin au caractère docile pèse entre 3,5 et 7 kg à l'âge d'un an. La femelle pèse généralement entre 3,5 et 5,4 kg, tandis que le mâle se situe entre 6 et 7,7 kg. À l'âge adulte, un Ragdoll peut peser de 8 à 10 kg. Les femelles atteignent souvent un poids maximal de 8 kg, et certains mâles peuvent même atteindre jusqu'à 17 kg.</p>
            </div>
        </div>
    </main>

    <footer>
        <p>© Agathe Dupuis 2024</p>
    </footer>
    

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}
{% endblock %}
