{% extends 'base.html.twig' %}

{% block title %}FluffyRagdolls - Alimentation{% endblock %}

{% block body %}
<body>
    <main>
        <div class="entretien">
            <div class=" d-flex col intro">
                <img class="image-chat col-lg-4" style="height: 50%;" id="image1" src="../../assets/img/photo-alimentation.jpg" alt="Chat ragdoll" srcset=""/>
                <div class="intro-text">
                    <h2>Alimentation</h2>
                    <p>En raison de son tempérament moins actif comparé à d'autres chats, le Ragdoll peut facilement prendre du poids. Il est donc essentiel d'adapter son alimentation en évitant les excès de glucides et de graisses. Il est recommandé de lui offrir des croquettes de haute qualité, riches en protéines de bonne qualité et contenant une gamme complète et équilibrée de nutriments. De plus, ce type d'alimentation sèche contribue à maintenir sa santé dentaire. Assurez-vous également que le chat ait toujours accès à de l'eau fraîche et renouvelée régulièrement.</p>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-4 custom-shadow">
                    <img src="../../assets/img/croquette-EC.webp" class="card-img-top" alt="croquettes Edgard & Cooper">
                    <div class="card-body">
                        <h5 class="card-title text-danger text-center">Edgard & Cooper</h5>
                        <p class="card-text">Croquette pour chat de la marque Edgard & Cooper, prix de 41,99€ pour 4kg</p>
                        <a href="https://www.edgardcooper.com/fr/products/cat-dry-chicken/4-kg/?gad_source=1&gclid=Cj0KCQjw6uWyBhD1ARIsAIMcADqaHNzY3yfuE35NaNMSwkGuM3MSSJIpQgaZFzKo-adItsKoX3mQFjEaApMhEALw_wcB" target="_blank" class="btn btn-danger"><span>Voir plus</span> ...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-4 custom-shadow">
                    <img src="../../assets/img/croquette-UP.webp" class="card-img-top" alt="croquettes Ultra premium">
                    <div class="card-body">
                        <h5 class="card-title text-danger text-center">Ultra premium</h5>
                        <p class="card-text">Croquette pour chat de la marque Ultra premium, prix de 29,90€ pour 4kg</p>
                        <a href="https://www.ultrapremiumdirect.com/produits/croquettes-sans-cereales-pour-chat-adulte-sterilise-ou-d-interieur/00300201/?wiz_source=google&wiz_medium=cpc&wiz_campaign=PMAX-Chat-Novembre-2022&utm_source=google&utm_medium=cpc&utm_campaign=[PMAX]+-+Chat+Novembre+2022&gad_source=1&gclid=CjwKCAjwr7ayBhAPEiwA6EIGxPtTH3SOvetvVRmDvY-vgvnVEFyVAFU8GHm9ive4thCtV51NgJxeHBoC290QAvD_BwE" target="_blank" class="btn btn-danger"><span>Voir plus</span> ...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-4 custom-shadow">
                    <img src="../../assets/img/croquette-RC.jpg" class="card-img-top" alt="croquettes Royal canin">
                    <div class="card-body">
                        <h5 class="card-title text-danger text-center">Royal canin</h5>
                        <p class="card-text">Croquette pour chat de la marque Royal canin, prix de 32,99€ pour 2kg</p>
                        <a href="https://www.zooplus.fr/shop/chats/croquettes_chat/royal_canin_croquettes_chat/royal_canin_nourriture_par_race_croquettes_chat/378398?variantId=378398.1&abd=true&activeVariant=378398.1" target="_blank" class="btn btn-danger"><span>Voir plus</span> ...</a>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="jouet">
            <div class="jouet">
                <h2>Jouets</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card bg-light mb-4 custom-shadow">
                            <img src="../../assets/img/jouet-balle.jpg" class="card-img-top" alt="image balle pour chats">
                            <div class="card-body">
                                <h5 class="card-title text-danger text-center">Balle</h5>
                                <p class="card-text">Voici une balle interactive pour chat.</p>
                                <a href="https://www.amazon.fr/ILantule-Interactif-Interieur-Automatique-Chargement/dp/B0C3VSZY8M/ref=asc_df_B0C3VSZY8M/?tag=googshopfr-21&linkCode=df0&hvadid=648910860377&hvpos=&hvnetw=g&hvrand=16504193684166196114&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9055805&hvtargid=pla-2193648042627&psc=1&mcid=434a03bf199a3b5eb8b3659f48a6bfeb" target="_blank" class="btn btn-danger"><span>Voir plus</span> ...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-light mb-4 custom-shadow">
                            <img src="../../assets/img/jouet-arbre.jpg" class="card-img-top" alt="image arbre à chats">
                            <div class="card-body">
                                <h5 class="card-title text-danger text-center">Arbre à chat</h5>
                                <p class="card-text">Voici un arbre à chat avec plusieurs étages.</p>
                                <a href="https://www.amazon.fr/Griffoir-descalade-plusieurs-dactivit%C3%A9-plates-formes/dp/B0BN9YXPTN/ref=asc_df_B0BN9YXPTN/?tag=googshopfr-21&linkCode=df0&hvadid=603001020651&hvpos=&hvnetw=g&hvrand=16504193684166196114&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9055805&hvtargid=pla-1931938098711&mcid=e59595d6826a3335ad252eed17dae841&th=1" target="_blank" class="btn btn-danger"><span>Voir plus</span> ...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-light mb-4 custom-shadow">
                            <img src="../../assets/img/jouet-boule.jpg" class="card-img-top" alt="image de boule à gratter en corde">
                            <div class="card-body">
                                <h5 class="card-title text-danger text-center">Boule à gratter</h5>
                                <p class="card-text">Voici une boule pour les griffes.</p>
                                <a href="https://www.temu.com/fr/kuiper/n9.html?subj=googleshopping-landingpage&_bg_fs=1&_p_rfs=1&_x_ads_channel=google&_x_ads_sub_channel=shopping&_x_login_type=Google&_x_vst_scene=adg&mkt_rec=1&goods_id=601099512666448&sku_id=17592191921191&_x_ns_sku_id=17592191921191&_x_gmc_account=742384653&_x_ads_account=5198328713&_x_ads_set=20819421092&_x_ads_id=153466930022&_x_ads_creative_id=682926604759&_x_ns_source=g&_x_ns_gclid=EAIaIQobChMIuJmirN-KhgMV_gcGAB2UKA2HEAQYASABEgKltfD_BwE&_x_ns_placement=&_x_ns_match_type=&_x_ns_ad_position=&_x_ns_product_id=17592191921191&_x_ns_target=&_x_ns_devicemodel=&_x_ns_wbraid=Cj8KCQjw0YGyBhDZARIuALjKpTicowYrAIvY__9DmdPRr9qDjpxHdiszH56rf1yFJXJfU0F8cBirvBzKvhoCxsk&_x_ns_gbraid=0AAAAAo4mICEucQkQlfNhiZNDaXSDrINen&_x_ns_targetid=pla-2264719084720&gad_source=1&gclid=EAIaIQobChMIuJmirN-KhgMV_gcGAB2UKA2HEAQYASABEgKltfD_BwE&adg_ctx=f-1098b79c" target="_blank" class="btn btn-danger"><span>Voir plus</span> ...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>© Agathe Dupuis 2024</p>
    </footer>
    

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
{% endblock %}