{% extends 'base.html.twig' %}

{% block title %}FluffyRagdolls - Toutes les annonces{% endblock %}

{% block body %}
    <main>
        <div class="col">
            <div class="col-md-10">
                <div class="row">
                    <div class="card bg-light mb-4 custom-shadow">
                        <div class="card-body">
                        {% dump(announcements) %}

                            {% if announcements is not empty %}
                                {% for announcement in announcements %}
                                    <h5>{{ announcement.catName }}</h5>
                                    <p class="card-text">{{ announcement.description }}</p>
                                    <p class="card-text">{{ announcement.cat_birth|date('Y-m-d') }}</p>
                                {% endfor %}
                            {% else %}
                                <p>Aucune annonce trouvée.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        <br>
    </main>

    <footer>
        <p>© Agathe Dupuis 2024</p>
    </footer>
{% endblock %}
